
#legend {
    margin: -2em 0 0 12em;
}

#legend text {
    transform: translate(4px,2px);
    -moz-transform: translate(4px,2px); /* Firefox */
    -ms-transform: translate(4px,2px); /* IE9 */
    -o-transform: translate(4px,2px); /* Opera */
    -webkit-transform: translate(4px,2px); /* Safari and Chrome */
}

#legend line {
    transform: translate(0px,4px);
    -moz-transform: translate(0px,4px); /* Firefox */
    -ms-transform: translate(0px,4px); /* IE9 */
    -o-transform: translate(0px,4px); /* Opera */
    -webkit-transform: translate(0px,4px); /* Safari and Chrome */
}
