
div#table {
    font-size: 0.8em;
    background: white;
    position:absolute;
    margin: 3em;
    opacity: 0.9;
    top: 0;
    left: 0;
    visibility:hidden;
}

#table table {
    font-size: 0.8em;
    border-collapse: collapse;
    width: 100em;
    box-shadow: 0px 10px 15px 10px rgba(0,0,0,0.3);
}

#table thead {
    background: #000;
    color: #fff;
}

#table th {
    border: 1px solid #aaa;
    padding: 5px 3px;
}

#table td {
    border: 1px solid #000;
    padding: 3px;
}

#table tr {
    border: 1px solid #0f0;
}

#table tr:nth-child(even) {
    background: #eee;
}
